/* Here you can customize the Web UI */

img[id$="_power_led"] {
    content: url('/share/svg/led-atx-power.svg');
}
img[id$="_hdd_led"] {
    content: url('/share/svg/led-atx-hdd.svg');
}

button[id$="_power_button"]::before, button[id$="_power_button_long"]::before {
    mask: url('/share/svg/led-atx-power.svg');
    width: .9rem;
    height: .9rem;
    margin-right: .33rem;
    margin-left: .1rem;
    margin-bottom: -.1rem;
}

button[id$="_reset_button"]::before {
    mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e %3cpath stroke='black' stroke-linecap='square' stroke-width='.5' d='M12 2A10 10 0 1 1 2 12h2a8 8 0 1 0 1.38-4.5H8v2H2v-6h2V6a9.98 9.98 0 0 1 8-4z'/%3e %3c/svg%3e");
    width: 1rem;
    height: 1rem;
    margin-right: .25rem;
    margin-left: .08rem;
    margin-bottom: -.16rem;
}

button[id$="_power_button"]::before, button[id$="_power_button_long"]::before, button[id$="_reset_button"]::before {
    content: '';
    background-color: var(--cs-control-default-fg);
    mask-size: contain;
    display: inline-block;
    vertical-align: baseline;
}

button[id$="_power_button"]:hover::before, button[id$="_power_button_long"]:hover::before, button[id$="_reset_button"]:hover::before {
    background-color: var(--cs-control-hovered-fg);
}

.pos-abs-middle {
    position: absolute;
    transform: translateY(-50%);
}
.pos-rel {
    position: relative;    
}

/* for the positioning of the "LEDs" */
table.kv tr {
    position: relative;
}

button[id$="_kvm_button"]::before {
    content: '';
    display: inline-table;
    margin-right: .33rem;
    width: 1.5rem; /* space for the button */
}

/* move "led" inside button */
img[id$="_port_active_led"] {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='optimizeQuality' viewBox='0 0 64 64'%3e %3ccircle cx='32' cy='32' r='20' fill='none' stroke='black' stroke-width='4'/%3e %3ccircle cx='32' cy='32' r='10' fill='black'/%3e %3c/svg%3e");
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    left: .8rem;
}

.padding-x-1 {
    padding-left: 1rem;
    padding-right:  .5rem;
}

.x-name {
    padding-left: 1rem;
    padding-right:  .5rem;
    font-size: 16px;
    font-weight: bold;
}
